<h1>Search properties by price</h1>
<form method="get" action="/Properties/DoSearch" class="col-md-5">
    <div>
        Min price:<input name="minPrice" class="form-control" />
    </div>
    <div>
        Max price:<input name="maxPrice" class="form-control" />
    </div>
    <hr />
    <input type="submit" class="btn btn-success" value="Search" />
</form>

<h1>Search properties by size and year</h1>
<form method="get" action="/Properties/DoSearchBySizeAndYear" class="col-md-5">
    <div>
        Min size:<input name="minSize" class="form-control" />
    </div>
    <div>
        Max size:<input name="maxSize" class="form-control" />
    </div>
    <div>
        Year:<input name="Year" class="form-control" />
    </div>
    <hr />
    <input type="submit" class="btn btn-success" value="Search" />
</form>

<h1>Search by tag</h1>
<div>
    
</div>

